<%- include('partials/head.ejs'); %>
<% if(success) { %>
    <div class="flash flash-success">
        <p><%= success; %></p>
    </div>
<% } %>

<% if(isAuthenticated) { %>
    <p>Authenticated</p>
<% }else { %>
    <p>not authenticated</p>
<% } %>
<div class="notes-list">
    <% if(notes.length) { %> <% notes.forEach(function(note) {%>
    <div class="note" style="border-left: 3px solid <%= note.color %>;">
        <h3><%= note.title %></h3>
    </div>
    <% }) %> <% } else { %>
    <h4>No notes are available</h4>
    <p>
        You can add a new note by clicking on add new note below
    </p>
    <% } %>
</div>

<%- include("partials/footer.ejs"); %>
